
#hometext {
    display: flex;
    justify-content: center;
    background-color:cadetblue ;
    height: 50vh;
    align-items: flex-end;
    font-size: xxx-large;
    flex-wrap: wrap;
    font-family: "Comic Sans MS", serif;
}
#homelinks{
    display: flex;
    justify-content: space-around;
    margin-top: 10vh;
    font-size: xxx-large;
    flex-wrap: wrap;
    font-family: "Comic Sans MS", serif;
}
#about {
    display: flex;
    justify-content: space-around;
    background-color:indigo ;
    margin-top: 10vh;
    font-size: xxx-large;
    flex-wrap: wrap;
    font-family: "Comic Sans MS", serif;
}
#projects {
    display: flex;
    justify-content: space-around;
    background-color:mediumturquoise ;
    margin-top: 10vh;
    font-size: xxx-large;
    flex-wrap: wrap;
    font-family: "Comic Sans MS", serif;
}
#contacts {
    display: flex;
    justify-content: space-around;
    background-color:steelblue;
    margin-top: 10vh;
    font-size: xxx-large;
    flex-wrap: wrap;
    font-family: "Comic Sans MS", serif;
}
#contact {
    display: flex;
    justify-content: space-around;
    background-color: orangered ;
    margin-top: 10vh;
    font-size: xxx-large;
    flex-wrap: wrap;
    font-family: "Comic Sans MS", serif;
}
#contacten {
    display: flex;
    justify-content: space-around;
    background-color: aquamarine;
    margin-top: 10vh;
    font-size: xxx-large;
    flex-wrap: wrap;
    font-family: "Comic Sans MS", serif;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #f5f8ff;
}
#cookiePopup {
    background-color: #ffffff;
    position: absolute;
    font-size: 14px;
    width: 70vw;
    max-width: 42.85em;
    box-shadow: 0 0 2em rgba(5, 0, 31, 0.15);
    font-family: "Poppins", sans-serif;
    text-align: justify;
    line-height: 1.8em;
    padding: 2em 1.4em;
    border-radius: 6px;
    transition: all 0.5s ease-in;
}
#cookiePopup img {
    display: block;
    width: 3.75em;
    transform: translateZ(0);
    position: relative;
    margin: auto;
}
#cookiePopup p {
    text-align: center;
    margin: 1.4em 0;
}
#cookiePopup button {
    background-color: #6859fe;
    border: none;
    color: #ffffff;
    font-size: 1.2em;
    padding: 1em 1.4em;
    display: block;
    position: relative;
    margin: auto;
    border-radius: 5px;
}
#cookiePopup a {
    color: #6859fe;
}
.hide {
    visibility: hidden;
    bottom: 0;
    right: 2em;
}
.show {
    visibility: visible;
    bottom: 2em;
    right: 2em;
}
@media only screen and (max-width: 37.5em) {
    #cookiePopup {
        width: 100%;
    }
    .hide {
        display: none;
    }

    .show {
        display: block;
        position: fixed;
        bottom: 2em;
        right: 2em;
    }
}
img {
     width: 1000px; /* Adjust to your preferred size */
     height: auto; /* Keeps aspect ratio intact */
     display: block;
     margin: auto;
 }